$component-name: footer;

.#{$component-name} {
  --footer-background-color: lighten($pesteczka-dark, 2%);
  --footer-text-color: var(--pesteczka-gray);
  --footer-hover-color: var(--pesteczka-light);
  --footer-heading-color: var(--pesteczka-blue);

  & &__main {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    background: var(--footer-background-color);
    border-top: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: var(--pesteczka-gradient-main);
  }

  & &-top {
    padding-bottom: 2.5rem;
  }

  h2,
  h3,
  .h4,
  .h3,
  .copyright {
    &,
    a {
      color: var(--bs-white);
    }
  }

  .copyright a:hover {
    color: var(--pesteczka-blue);
  }

  h2,
  h3,
  .h3,
  .h4 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: var(--footer-heading-color);

    &,
    a {
      text-transform: uppercase !important;
      letter-spacing: 1px;
    }
  }

  & &__block {
    &__content {
      padding-top: 0.5rem;
      color: var(--footer-text-color);
    }

    &__content-list {
      margin-bottom: 0;
      a {
        display: block;
        padding: 0.25rem 0;
        color: var(--footer-text-color);
        transition: all 0.3s ease;

        &:hover {
          color: var(--footer-hover-color);
          transform: translateX(5px);
        }

        &.logout {
          color: #d5343c;
        }
      }
    }

    &__content-contact {
      a {
        color: var(--footer-text-color);
        &:hover {
          color: var(--footer-hover-color);
        }
      }
      .contact__infos {
        margin-bottom: 1rem;
      }
      > div:last-child {
        margin-bottom: 0;
      }
      .contact__infos,
      .contact__phone,
      .contact__fax,
      .contact__email {
        display: flex;
        align-items: center;
        i {
          margin-right: 0.5rem;
          color: var(--pesteczka-blue);
        }
      }
    }

    &__title {
      font-size: 1rem;
      font-weight: 700;
      &, a {
        color: var(--footer-heading-color);
      }
    }
  }
}

// Social follow icons styling
#social_block {
  ul li a {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--pesteczka-gray);
    &:hover {
      transform: translateY(-3px);
      color: var(--pesteczka-blue);
    }
  }
}