$component-name: header-top;

.#{$component-name} {
  --header-top-border-bottom: 1px solid #{$neon-blue};
  --header-bottom-border-bottom: 1px solid #{$neon-blue};
  background-color: $dark-background;
  padding: 0.5rem 0;

  @include media-breakpoint-up(md) {
    border-bottom: var(--header-top-border-bottom);
  }

  a:not(.dropdown-item) {
    color: var(--bs-white);
    transition: color 0.3s ease;

    &:hover {
      &,
      i {
        color: $neon-blue;
        text-shadow: 0 0 5px $neon-blue;
      }
    }
  }

  &__right {
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }

    .dropdown-menu {
      background-color: $dark-background;
      border: 1px solid $neon-blue;

      .dropdown-item {
        color: var(--bs-white);

        &:hover {
          background-color: $royal-purple;
          color: $neon-blue;
        }
      }
    }
  }
}
