.main-menu {
  order: -1;

  @include media-breakpoint-up(xl) {
    order: 1;
  }

  &__tree {
    flex-wrap: wrap;

    > li {
      > a {
        padding: 1.5rem 1rem;
        outline-offset: -0.5rem;
        color: var(--bs-white);
        text-transform: uppercase;
        font-weight: 500;
        transition: color 0.3s ease, text-shadow 0.3s ease;

        &:hover {
          color: $neon-blue;
          text-shadow: 0 0 7px $neon-blue;
        }
      }

      &:hover {
        .menu-container {
          display: block;
        }
      }

      .menu-container {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: $zindex-offcanvas;
        display: none;
        padding: 1rem 0;
        background-color: $dark-background;
        border-top: 1px solid $neon-blue;
        box-shadow: 0 5px 15px rgba($royal-purple, 0.2);

        &.focusing,
        &:focus-within {
          display: block;
        }

        a {
          &[data-depth="1"],
          &[data-depth="2"] {
            overflow-wrap: break-word;
            white-space: normal;
          }

          &[data-depth="1"] {
            font-weight: 600;
            color: var(--bs-white);
            transition: color 0.3s ease;


            &:hover {
              &,
              i {
                color: $toxic-green;
              }
            }

            &::after {
              display: none;
            }
          }

          &[data-depth="2"] {
            color: var(--bs-gray-400);
            transition: color 0.3s ease;

            &:hover {
              &,
              i {
                color: $neon-blue;
              }
            }
          }
        }
      }
    }
  }
}

