$component-name: product-miniature;

.#{$component-name} {
  margin-bottom: 1.25rem;

  .card {
    transition: 0.25s ease-out;
    background-color: darken($dark-background, 3%);
    border: 1px solid $royal-purple;

    &:hover {
      border-color: $neon-blue;
      box-shadow: 0 0 15px rgba($neon-blue, 0.5);
      filter: none;
    }
  }

  &:hover {
    .#{$component-name}__quickview {
      transform: translateY(-100%);
    }
  }

  & &__image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
  }

  & &__image {
    transition: 0.25s ease-out;
  }

  & &__link {
    position: relative;
    display: block;

    &:hover {
      .#{$component-name}__image {
        transform: scale(1.1);
      }

      .#{$component-name}__image-container {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  & &__title {
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--bs-white);
    a {
      color: inherit;
      transition: color 0.3s ease;
      &:hover {
        color: $neon-blue;
      }
    }
  }

  & &__regular-price {
    color: var(--bs-gray-600);
    text-decoration: line-through;
  }

  & &__price {
    font-weight: 700;
    color: $toxic-green;
  }

  & &__quickview {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba($royal-purple, 0.8);
    backdrop-filter: blur(5px);
    transition: 0.25s ease-out;

    @media (hover: none) and (pointer: coarse) {
      display: none;
    }
  }

  & &__quickview_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    color: var(--bs-white);
    transition: color 0.3s ease, text-shadow 0.3s ease;

    .material-icons {
      margin-right: 0.25rem;
      font-size: 1.25rem;
    }

    &:hover {
      color: $toxic-green;
      text-shadow: 0 0 5px $toxic-green;
    }
  }

  & &__quickview_touch {
    position: absolute;
    right: 0.635rem;
    bottom: 0.635rem;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    background-color: $royal-purple;
    border: 1px solid $neon-blue;
    border-radius: 50%;
    box-shadow: 0.125rem -0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    color: $neon-blue;

    @media (hover: none) and (pointer: coarse) {
      display: flex;
    }
  }

  & &__variants {
    .variant-links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      > a {
        flex-shrink: 0;
        margin: 0;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 1px solid $royal-purple;
        transition: border-color 0.3s ease;

        &:hover {
          border-color: $neon-blue;
        }
      }
    }
  }
}
